<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yeondodemo.repository.etc.mapper.AuthorMapper">

    <insert id="save">
        insert into AUTHOR (paperId, name)
        values (#{paperId}, #{author})
    </insert>

    <insert id="saveAll">
        insert into AUTHOR (paperId, name)
        VALUES
        <foreach collection="authors" index="author" item="author" separator=",">
            (${paperId}, #{author})
        </foreach>
    </insert>

    <select id="findByPaperId" resultType="String">
        select name
        from AUTHOR
        where paperId = #{paperId}
    </select>
</mapper>