<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yeondodemo.repository.etc.mapper.LibraryMapper">

    <select id="findByUserName" resultType="com.example.yeondodemo.dto.LibraryDTO">
        SELECT p.paperId AS paperId, lp.workspaceId AS workspaceId, p.title AS title, p.year AS year, p.url AS url, ws.title AS workspaceTitle, p.categories as categoryString
        FROM PAPER AS p
            JOIN LIKEPAPER AS lp ON p.paperId = lp.paperId
            JOIN Workspaces AS w ON lp.workspaceId = w.workspaceId
            JOIN WORKSPACE as ws ON ws.workspaceID = lp.workspaceId
        WHERE w.email = #{username} AND w.valid = 1;
    </select>
</mapper>