<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yeondodemo.repository.paper.PaperBufferMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into PAPERBUFFER (id, ishit, uddate)
        values (#{id}, #{ishit}, #{uddate})
    </insert>

    <update id="update">
        update PAPERBUFFER
        set ishit=#{updateParam.ishit},
            uddate=#{updateParam.uddate}
        where id = #{id}
    </update>

    <select id="findById" resultType="PaperBuffer">
        select id, ishit, uddate
        from PAPERBUFFER
        where id = #{id}
    </select>

    <select id="isHit" resultType="Boolean">
        select ishit
        from PAPERBUFFER
        where id = #{id}
    </select>
</mapper>