<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yeondodemo.repository.paper.QueryHistoryMapper">

    <insert id="save">
        insert into QUERYHISTORY (username,paperId, idx, content, who)
        values (#{username}, #{paperid}, #{idx}, #{content}, #{who})
    </insert>

    <select id="findByUsernameAndPaperid" resultType="Map">
        select content, who
        from QUERYHISTORY
        where paperId = #{paperid} and username= #{username}
        order by idx ASC
    </select>


    <select id="getLastIdx" resultType="Integer">
        select idx
        from QUERYHISTORY
        where paperId = #{paperid} and username= #{username}
        order by idx DESC LIMIT 1
    </select>


</mapper>