<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yeondodemo.repository.paper.mapper.PaperMapper">
    <insert id="save">
        insert into PAPER (paperId, conference, cites, likes, lastUpdate, title, url, year)
        values (#{paperId}, #{conference},#{cites}, #{likes}, #{lastUpdate}, #{title}, #{url}, #{year})
    </insert>

    <insert id="saveF">
        insert into PAPER (paperId,  title, submitter, comments, journalRef, doi,  categories, license, summary, version, update_date, url, year)
        values (#{paperId},  #{title}, #{submitter}, #{comments}, #{journalRef}, #{doi}, #{categories}, #{license}, #{summary}, #{version}, #{update_date}, #{url}, #{year})
    </insert>

    <select id="clearStore">
        TRUNCATE TABLE PAPER
    </select>
    <update id="update">
        update PAPER
        set cites=#{updateParam.cites},
            likes=#{updateParam.likes},
            conference=#{updateParam.conference},
            lastUpdate = #{updateParam.lastUpdate},
            title = #{updateParam.title},
            version = #{updateParam.version},
            url = #{updateParam.url},
            year = #{updateParam.year}
        where paperId = #{id}
    </update>

    <select id="findById" resultType="com.example.yeondodemo.entity.Paper">
        select *
        from PAPER
        where paperId = #{id}
    </select>

    <update id="add">
        update PAPER
        set likes = likes + 1
        where paperId = #{id}
    </update>

    <update id="sub">
        update PAPER
        set likes = likes - 1
        where paperId = #{id}
    </update>

    <select id="findAllNullPaperId" resultType="String">
        select paperId
        from PAPER
        where isNull(version)
    </select>

</mapper>