<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yeondodemo.repository.user.mapper.UserMapper">

    <insert id="save">
        insert into WORKSPACE (workspaceId,description, title, studyField)
        values (#{saveParam.workspaceId}, #{saveParam.description}, #{saveParam.title}, #{saveParam.studyField})
    </insert>
    <update id="update">
        update WORKSPACE
        set isfirst=#{updateParam.isFirst},
            studyField = #{updateParam.studyField}
        where workspaceId = #{updateParam.workspaceId}
    </update>
    <select id="clearStore" >
        TRUNCATE TABLE WORKSPACE
    </select>

    <select id="findByName" resultType="com.example.yeondodemo.entity.Workspace">
        SELECT *
        FROM WORKSPACE
        WHERE workspaceId = #{workspaceId}
    </select>
</mapper>