<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yeondodemo.repository.user.mapper.UserMapper">

    <insert id="save">
        insert into WORKSPACE (workspaceId,description, title, studyField, editDate)
        values (#{saveParam.workspaceId}, #{saveParam.description}, #{saveParam.title}, #{saveParam.studyField},  CURRENT_TIME)
    </insert>
    <update id="updateDate">
        update WORKSPACE
        set editDate = CURRENT_DATE,
            editDateTime = CURRENT_TIME
        WHERE workspaceId = #{workspaceId}
    </update>
    <update id="update">
        update WORKSPACE
        set description=#{updateParam.description},
            title = #{updateParam.title},
            studyField = #{updateParam.studyField},
            editDate = CURRENT_TIME
        where workspaceId = #{updateParam.workspaceId}
    </update>
    <select id="clearStore" >
        TRUNCATE TABLE WORKSPACE
    </select>

    <select id="findByName" resultType="com.example.yeondodemo.entity.Workspace">
        SELECT *
        FROM WORKSPACE
        WHERE workspaceId = #{workspaceId}
    </select>

    <select id="findById" resultType="com.example.yeondodemo.entity.Workspace">
        SELECT *
        FROM WORKSPACE
        <if test="workspaceIds != null and workspaceIds.size() > 0">
            WHERE workspaceId IN
            <foreach collection="workspaceIds" item="workspaceId" index="index" separator="," open="(" close=")">
                #{workspaceId}
            </foreach>
        </if>
        ORDER BY editDateTime DESC
    </select>
</mapper>